/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode

bibliografia.txt
veterinariaSi.sql
resources/views/modificar.blade.php
resources/views/listar.blade.php
resources/views/registrar.blade.php
resources/views/messages.blade.php
